body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(22deg, #31B, #41E, #31B);
  /* background-color: #3311BB; */
  /* background-image: radial-gradient(circle at top right, rgba(50, 20, 190, 0.8), transparent), */
  /*   radial-gradient(circle at 20% 80%, rgba(50, 20, 190, 0.6), transparent) */
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}
