body {
  font-family: 'Source Code Pro', monospace;
  display: grid;
  background:#1b1c27; 
}

main {
  display: flex;
  /* background:#2D2F43;  */
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: #707BC4;
  font-size: 10em;
  font-weight: bold;
}

